@model EntityLayer.Concrete.Guide
@{
    ViewData["Title"] = "EditGuide";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Rehber Bilgilerini Düzenle</h1>

<form method="post">

    <div class="form-group">
        @Html.Label("Ad Soyad")
        <input type="text" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        @Html.Label(" Görsel")
        <input type="file" asp-for="Image" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Instagram")
        <input type="text" asp-for="InstaUrl" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Twitter")
        <input type="text" asp-for="Description2" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Açıklama")
        <input type="text" asp-for="Description" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Durumu")
        <input type="text" asp-for="Status" class="form-control" />
    </div>
    <br />
    <button class="btn btn-primary">Düzenle</button>
</form>
