@EntityLayer.Concrete
@model List<Rezervasyon>
@{
    ViewData["Title"] = "RezervasyonUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int sayac = 0;
}

<h1>Kullanıcının Geçmiş Rezervasyonları</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Misafir Adı Soyadı</th>
        <th>Rota</th>
        <th>Kişi Sayısı</th>
        <th>Tarih</th>
        <th>Detaylar</th>

    </tr>
    @foreach(var item in Model)
    {
        sayac = sayac + 1;
        <tr>
            <td>@sayac</td>
            <td>@item.AppUser.Name @item.AppUser.Surname</td>
            <td>@item.Destination.City</td>
            <td>@item.PersonCount</td>
            <td>@(((DateTime)item.RezervasyonDate).ToString("dd-MMMM-yyyy")</td>
            <td><a href="#" class="btn btn-primary">Detaylar</a></td>
        </tr>
    }

</table>